# Ignore virtual environment
.venv/

# Ignore input and output files
input/
output/

# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore all image files
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.webp
*.bmp

!cover.jpg

# Ignore experiment results
experiments/*/crops/
experiments/*/visualizations/
visualizations/
